/* Login Page */

.login-page
{
    /*background: url('../../assets/dist/images/background_jakarta.jpg') no-repeat center center fixed, #abbbd6;*/
    /* fallback for old browsers */
    /*background: url('../../assets/dist/images/background_jakarta.jpg') no-repeat center center fixed, -webkit-linear-gradient(to left, #BC4328, #6785C1);*/
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: url('../../assets/dist/images/background_jakarta.jpg') no-repeat center center fixed, linear-gradient(to left, #BC4328, #6785C1);*/
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, #063968, #8eb6ff) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-box-body
{
    border-radius: 10px;
    /*border:2px solid rgba(255, 255, 0, 0.6);*/
}

.main-header .sidebar-toggle
{
    padding: 10px 15px 10px 15px;
    font-size: 21px;
}

textarea
{
    resize: vertical;
}

div.ckeditor_val
{
    background-color: #eee;
    border: 1px solid #ccc;
    opacity: 1;
    padding: 6px 12px;
    box-sizing: border-box;
    color: #555;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*max-width: 560px;*/
    height: 100%;
    /*height: auto;*/
    border: 0;
}

.navbar-nav>.user-menu>.dropdown-menu {
/*    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;*/
    width: 180px;
}

.navbar-custom-title {
    font-size: 20px; 
    color: white; 
    padding: 10px 15px 10px 15px; 
    position: relative; 
    display: none;
}

@media (max-width: 640px) {
    .login-page {
        background-image: none; 
        background: #abbbd6;
    }
    .login-box-body
    {
        border-radius: 10px;
        border: none;
    }
    .navbar
    {
        position: fixed;
    }

    .content-header
    {
        padding-top: 60px;
    }
}

@media screen and (max-width: 414px) {
    .login-page {
        background-image: none;
        background: #abbbd6;
    }
    .login-box-body
    {
        border-radius: 10px;
        border: none;
    }
}

@media (max-width: 767px)
{
    .left-side, .main-sidebar
    {
        padding-top: 50px;
    }
    .navbar-custom-title {
        display: inline-block;
    }
}

@media (max-width: 991px)
{
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu 
    {
        right: 0%;
    }
}

/*@media (max-width: 767px)
{
.skin-red .main-header .navbar .dropdown-menu li a 
    {
        color: #000; 
    }
}*/
